# NodeJS
.npm_cache
node_modules
npm-debug.log

# Src files
.editorconfig
.gitattributes
.gitignore
.nvmrc
.codeclimate.yml
.codecov.yml
.istanbul.yml
.travis.yml
.github
*.ts
*.d.ts
!kinvey.d.ts
!push/push.d.ts
*.js.map
README.md
CONTRIBUTING.md
CHANGELOG.md
tsconfig.json

# Test Files
coverage/
report.xml
*.tap
test/

# MacOS Files
.DS_Store

# Demo files
demo/
