# NodeJS
.npm_cache
node_modules
npm-debug.log

# Src files
.babelrc
.editorconfig
.eslintrc
.gitattributes
.gitignore
.nvmrc
.codeclimate.yml
.codecov.yml
.eslintignore
.istanbul.yml
.travis.yml
.github
*.ts
!*.d.ts
*.js.map
hooks/
scripts/
esdoc.json
README.md
CONTRIBUTING.md
CHANGELOG.md
webpack.config.js
tsconfig.json

# Test Files
coverage/
report.xml
*.tap
test/

# MacOS Files
.DS_Store
