language: node_js
node_js:
- '6'
before_deploy: npm run build
deploy:
  skip_cleanup: true
  provider: npm
  email: thomas.conner@me.com
  api_key:
    secure: RO17BY33RQvUO6ipym4xgR3hAgUNZWoR2YPV3ocAvt/LrDyseHysZlc6VwK1U79ZmFbFXNGgkLEotUHSlY4uyvPogozZwxkaS1XSjJ8GGVQL9yOS9/frnjo/aoGkoqgHK0vkwk6fqbTRTS74WI6pJZ5AJ5sTpvY9sdqpGyJDiuIYgu7Kn1MpZi5q5RRknFH3NebKGs4ecTnApBRhpWYs6ak1+1QROUCqbLi6Fv8OmecjMtcdV+xQiCb2zd2xUnuSpf7bJ0XWLZXpVXD9A5egvRxSZYZgxRgmVSL4xd8eV3J++9sCJg1GKYmJS1ACOiSlRsPDV3o6jONUUO5wrbsZopJjnxLoQc8sXAB9I8/A7jHizIZi3r4VNV0xriBUpkgckn56WtEH9igWclLOOwnL3QTB52BCOMcdzPw4H89mgNXFfmOvIasca8wLe1t/YRolks8wwJ9HzGCbJqEOMXab+EevNwH7GrydlCQpIYv9yJcOeWdO3+KHNTBHF53RU9bz1LDLYEmdRXgjURrBnAaGA8Vv+oo1c0YBNexwumrjqiE/+L4pCIjMc0Zz/51MG+QHel0v2GHxpjggapfNnRqr/uFZBnRp4HUwy+gEFvf75zZWAEWpur0jcPnO5GCObBGb5qYG7kaYu4uegdVVnLcqfmazIX/0RAtgS1CzP7sWo1Q=
  on:
    tags: true
    repo: Kinvey/nativescript-sdk
notifications:
  email:
    on_success: change
    on_failure: always
  slack:
    on_success: change
    on_failure: always
    secure: i07M23UVBXOdm+1+SDaEY4/dWeagLbAcqbvVLFVQNQ0ZcmBbAnlnoyMtZ7R/25u5V/2bTCVcm7/IxPxdsDIBg6p7KXMt7m1P1sD4KxpVg4mifXEUy8FLynZq8ZUfvtcg11ERkEsRawx/2fg6tSnUCfGMdFX0JsaIJkB26lXY3ZBYHs7Nf38aRMkPY8h3RDaCveJYyDW6SCwpPBwzG8guL6fUYbpbIPmoC1VvkwISbny1BzpsZ7BFSIy2kmoaotxqi9rLlKARiC5OIFaWqM1TgAItI52m2IH41fbzpTmPG+IuWxhaMyxfulNxKrYwBnjCxrNAD12v+NfoLMEAx2apUjRnyoHUevXXR2KBg3zxRCjSJATFo5VeMisWd66rel7J2lL+N+9Rz0qkhBwAwbFd/iQUDrjXfe7+8b0JtkqE5CBrtggHRznDWmPGJEJQYVe661aaiRjdQHm5J9FitousshO42qySSdenaYgKE0j/jXsE77P+AZABivfe9O98amPFDXF2yHbltYvBKlD/T3vYl5x1akC/VuqNUL/+eu4zT8ABu5teFtm42Repd6cBOJaRziW7KOvmRM84BC2IDmHLCh3jhTswEqNAhnQqRzZWnGM7Uoz1rd187iYthNnh2dFYQ5qOJVoVQFl20cTU8qtZFCrHwVteha2bctn0U1CN6Ao=
script: npm run cover
after_success:
- bash <(curl -s https://codecov.io/bash)
